html{
    scroll-behavior: smooth;
}
body{
    margin: 10px;
    font-family: 'comic sans ms',sans-serif;
    text-align: center;
    background: url('images/bg4.jpg');
    background-size: cover;
    background-position: center;
      
}

*{
    margin: 0;
    padding: 0;
}
.container{
    max-width: 80vw;
}
.navbar{
    display: flex;
    height: 67px;
}
.navbar li{
    list-style: none;
    margin:0 12px ;
}
.topleft{
width: 50%;
}
.topright{
    width: 50%;

}
.section1{
    height: 80vh;
    background: url('images/bg4.jpg');
    background-size: cover;
    background-position: center;
}
.section1 .row img{
    width: 150px;
    height: 100px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
.section6 img{
    width: 280px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
}
.logo{
    font-size:1.3rem;
    padding-top: none;
}
.section2{
    padding-left: 63px;
    padding-right: 63px;
    padding-top: 20px;
    height: 60vh;
    background: url('images/bg4.jpg');
    background-size: cover;
    background-position: center;
}
.section2 p{
    padding: 0 8vw;
    text-align: center;
}
.section6{
    padding-left: 63px;
    padding-right: 63px;
    padding-top: 20px;
    height: 70vh;
    background: url('images/bg4.jpg');
    background-size: cover;
    background-position: center;
}
.box{
    margin: 12px 22px;
    min-width: 12vw;
    border: 2px solid rgb(143, 9, 9);
    text-align: center;
    border-radius: 8px;
    box-sizing: border-box;
}
.box h3{
    padding: 10px 0;
}
.box ul{
    list-style-type: none;
}
.box ul li{
margin: 12px 2px;
}
.section3{
    height: 55vh;
    background: url('images/bg4.jpg');
    background-size: cover;
    background-position: center;
}
.section3 table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse: collapse;
}

.section3 table th{ 
    width: 23vw; 
    border-bottom: 2px solid black;
    padding: 15px 0;
} 

.section3 table td{   
    border-bottom: 2px solid black; 
} 
 

.section3 h1{
    font-size: 2.3rem;
}

.section3{
    padding: 73px;
}
.section4{
    background: url('images/bg4.jpg');
    background-size: cover;
    background-position: center;
}
.section5{
    background: url('images/bg4.jpg');
    background-size: cover;
    background-position: center;
}
footer{
    padding: 23px;
    text-align: center;
}
.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px;
}

.deal{
    font-size: 1.2rem;
    font-weight: bolder;
    margin: 12px 0;
}

.design{
    background: linear-gradient(45deg,black,darkred,black);
    width: 60%;
    color: white;
    margin: auto;
padding: 10px;
border-radius: 60% 60% 0% 0%;
}